# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# uC specific files (and so forth)
*.hex
*.elf
*.eep
*.map
*.lst
*.lss
